#about {
    header {
        overflow: hidden;
        padding: 25px 0;
        color: white;
        background-color: $primary-color;
        font-size: 12px;

        @include breakpoint(min-width, $bp-medium) {
            font-size: 20px;
            padding: 39px 0;
        }

        a {
            text-transform: uppercase;
            font-size: 18px;
            text-decoration: underline;

            @include breakpoint(min-width, $bp-medium) {
                font-size: 22px;
            }
        }
    }

    .content {
        border-bottom: $border;
        padding: 43px 0 31px; 

        @include breakpoint(min-width, $bp-medium) {
            border-bottom: none;
            padding-top: 47px; 
        }
        
        @include breakpoint(min-width, $bp-large) {
            padding-top: 53px; 
        }

        h1 {
            @extend %primary-h1;
            border-bottom: 2px solid $primary-color;
            margin-bottom: 17px;

            @include breakpoint(min-width, $bp-medium) {
                font-size: 30px;
                margin-bottom: 32px;
            }

            @include breakpoint(min-width, $bp-large) {
                font-size: 25px;
                margin-bottom: 33px;
                padding-bottom: 2px;
            }
        }

        p {
            @extend %primary-p;
            padding: 0 27px;

            @include breakpoint(min-width, $bp-medium) {
                max-width: 600px;
                word-spacing: 2px; 
                font-size: 15px;
                margin: 0 auto;
            }

            @include breakpoint(min-width, $bp-large) {
                max-width: 93%;
            }
        }
    }
}