@media screen and (min-width: 992px) {
	header {
		padding: 17px;
		
		.logo {
			font-size: 22px;
		    text-align: left;
		    padding: 11px 22px;
			width: 25%;  
			font-size: 36px;
			padding-bottom: 0; 
			
		}
	}

	#about {
		.content {
			h1 {
				font-size: 25px;
			    margin: 27px 0 33px;
			    padding-bottom: 2px;
			}

			p {
				max-width: 93%;
			}
		}
	}


	#services {
		padding-top: 23px;
		
		.item-service {
		    margin-bottom: 46px;
		    width: 25%; 
		    float: left;
		} 
	}

	#portfolio {
		h1 {
		    font-size: 25px;
		    margin: 0;
		    padding-bottom: 2px;
		    
		    &+p {
				font-size: 16px; 
				line-height: 1.6;
				margin: 20px auto 26px;
				max-width: 72%; 
			}
		}

		.list-portfolio {
			padding: 0;
			text-align: right;
			margin: 0 -15px;
		}

		.post-portfolio {
			width: 25%;
			float: left; 
			a {
			    margin: 8px 18px 0;
			}

			span {
				padding: 9px 19px;
    			display: block; 
    		}
		}	
	}

	.talk {
	    margin-top: 57px;
		padding-bottom: 108px;   	
    	p {
		   padding: 13px 0;
		   max-width: 74%;
		   margin: 0 auto; 
		}
    }

    .contact {
    	padding: 85px 0 206px; 
    	
    	h1 {
    		font-size: 25px;
    		padding-bottom: 3px; 
    		 
    		&+p {
    			font-size: 14px;
			    line-height: 1.8;
			    padding: 9px 30px 53px;
    		}
    	}

    	h3 {
    		margin-top: 0;
    		font-size: 20px;
    		
    		&:after {
    			content: none;
    		} 
    	}

		.map, 
		.contact-info {
			text-align: left;
			float: left;
			width: 50%; 
		}
		
    	.details {
    		padding: 0 0 0 42px; 
    		max-width: 345px;
    		margin: inherit;     		
    		li {
    			text-align: left; 
    			padding: 6px 0 2px;
    			line-height: 1.5; 
    			
    			&:last-child {
				    padding-bottom: 12px;
				} 
    		}

    		.fa:before {
				padding-right: 20px;
			}
    	}

    	form {
    		padding-left: 42px;
    		
    		button[type="submit"] {
			    width: 125px;
			    padding: 9px 0;
			    margin: 0px auto;
			}
    	}
    	input, textarea {
    		margin-bottom: 7px;
    	}
    }

    footer {
	    word-spacing: 3px;
	    padding: 18px 0;
	    font-size: 14px;
	}
}