@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500);
@import "variables";

%primary-h1 {
	display: inline-block; 
	font-weight: 500;
	font-size: 26px;
	margin-top: 20px;
	padding-bottom: 3px; 
}

* {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}

body {
	font-family: 'Ubuntu';
	font-weight: 400;   
}

.container {
	max-width: 1170px; 
	text-align: center;
	overflow: hidden;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto; 
}

a {
	color: inherit;
	text-decoration: none;
	
	&:hover {
		text-decoration: none;
		color: inherit;
	}
}

p {
	margin-bottom: 0; 
}

header {
	.logo {
		font-size: 66px;
		padding-bottom: 92px; 
		
		span {
			color: $primary-color;
		}
	}

	nav {
		position: relative;
		margin-bottom: 12px; 
		padding: 0;   
	}

	.topnav {
		margin: 12px 4px 0 0;
		overflow: hidden;
		li {
			float: left;
			padding: 10px 15px; 
			
			&.icon {
				display: none;
					
				button {
					cursor: pointer;
					background: none;
					border: none;
				}

				.icon-bar {
				    width: 46px;
				    height: 5px;
				    display: block;
				    margin-bottom: 5px; 
				    background-color: $primary-color;
				}
				
			}

			a {
				position: relative;
			    display: block;
			    text-align: center;
			    transition: 0.3s;
			    		    
			    &.active,
					&:hover {
						-webkit-box-shadow: inset 0 -2px 0 0 $primary-color; 
						box-shadow: inset 0 -2px 0 0 $primary-color; 
						background: none; 
						&:after {
							content: "";
						    position: absolute;
						    bottom: -5px;
						    left: 40%;
						    width: 0;
						    height: 0;
						    border-left: 5px solid transparent;
						    border-right: 5px solid transparent;
						    border-top: 5px solid $primary-color; 
						}

					}
			}
		}
	}
	@media screen and (max-width:784px) {
  ul.topnav li {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}


@media screen and (max-width:784px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

}

#home {
    position: relative;
	padding: 145px 0 101px; 
	color: white;
	
	.slider {
        .slider-item {
			display: none; /* Все слайды скрыты */
			transition: opacity 500ms linear;
			
			&:first-child {
				display: block; 
			}
		}
		
		img {
			z-index: -2;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;    
		}

		button {
			position: absolute;
			font-size: 100px;
			border: none;
			background: none; 
			color: $primary-color;
			top: 50%;
			
			&.prev {
				left: 7%; 
			}

			&.next {
				right: 7%; 
			}
		}
	}
	
	p {
		font-weight: 500;
		font-size: 18px;
		background-color: rgba(0, 0, 0, 0.6);
		display: table;
	    margin: 0 auto 14px;
	    padding: 6px 45px;
		
		&:last-child { 
			padding: 6px 30px; 
		}
	}
}

#about {
	header {
		overflow: hidden;
		padding: 25px 0; 
		color: white;
		background-color: $primary-color;
		font-size: 12px;
		
		a {
			text-transform: uppercase;
			font-size: 18px;
			text-decoration: underline; 
		}  
	}

	.content {
		border-bottom: $border; 
		padding: 23px 0 31px; 
		h1 {
			@extend %primary-h1;
			border-bottom: 2px solid $primary-color;
			margin-bottom: 17px; 
		}

		p {
			font-size: 17px; 
			line-height: 1.5; 
			color: $text-color;
			padding: 0 27px; 
		} 
	}
}

#services {
	border-bottom: $border; 
	padding: 50px 25px 22px; 
	overflow: hidden;
	
	.item-service {
		text-align: center;
		margin-bottom: 28px;
		float: left;
		padding: 0 15px; 
	}

	.fa {
		color: $primary-color;
		font-size: 30px; 
	}

	h2 {
		margin: 11px 0 13px;
		font-weight: 400; 
		font-size: 24px; 
		
		a:hover  {
			text-decoration: underline;	
		}
	}

	p {
		font-size: 16px;
		line-height: 18px;
		color: $text-color; 
		padding: 0 37px;    
	}
}

#portfolio {
	padding: 58px 0; 
	overflow: hidden;
	
	h1 {
		@extend %primary-h1;
		padding-bottom: 2px;
		margin-bottom: 12px;  
		border-bottom: 2px solid $primary-color;
		
		&+p {
			line-height: 24px;
			font-size: 16px;
			margin: 11px 0 58px;
			padding: 0 52px;
			color: $text-color;
		}
	}
	.wrap {
		background-color: lightgrey; 
		max-width: 250px;
		margin: 0 auto; 
	}
	.post-portfolio {
		margin-bottom: 60px; 
		a {
			display: block;
			color: #fe5c32;
			font-weight: 400;
			font-size: 22px;
		    margin: 5px 8px 0;
			border-bottom: 1px solid grey; 
			
			&:hover {
				color: white;
			}
		}

		span {
			padding: 6px 0 10px; 
			display: block;
			color: #737272;
			font-size: 16px; 
			word-spacing: 2px;
		}
	}
}

.talk {
	padding: 60px 0; 
	background-color: #7a7a7a;
	color: white;
	
	h2 {
		font-size: 58px;
		margin: 24px 0 12px;
		span {
			color: $primary-color;
		} 
	} 

	p {
		font-size: 22px;
		line-height: 25px;
		padding: 33px 22px 21px;   
	}
}

.contact {
	padding: 38px 0 140px; 
	
	h1 {
		position: relative;
		font-weight: 400;
		font-size: 44px; 
		display: inline-block; 
		padding-bottom: 6px; 
		margin: 24px 0 12px; 
		
		&:after {
			content: '';
			width: 100%;
			height: 2px;
			position: absolute;
			background-color: $primary-color;
			bottom: 0;
			left: 0; 
		}

		&+p {
			color: $text-color;
		    font-size: 22px;
		    word-spacing: 2px;
		    line-height: 25px;
		    padding: 46px 26px 114px;
		}
	}

	.map {
		text-align: center;
		padding: 0;
		
		img {
			height: 100%; 
		}
	}

	h3 {
		margin: 72px 0 0;
		position: relative;
		font-weight: 400;
		font-size: 44px; 
		display: inline-block; 
		padding-bottom: 12px;  
		
		&:after {
			content: '';
			width: 70%;
			height: 2px;
			position: absolute;
			background-color: $primary-color;
			bottom: 0;
			left: 15%; 
		}
	}

	.details {
		padding-top: 85px; 
		max-width: 375px;
		margin: 0 auto;  
		 li {
			display: block;
			text-align: left;
			font-size: 30px;
			color: #9d9c9c;
			padding-bottom: 41px;
			
			&:last-child {
				padding-bottom: 25px; 
			}   
		}

		.fa:before {
			padding-right: 34px;
			color:  $primary-color;
		}
	}
	
	form {
		padding: 0 15px; 
	}
	input, textarea {
		width: 98%; 
		max-width: 530px;
		-webkit-border-radius: 3px; 
		border-radius: 3px; 
		border: 1px solid lightgrey;
		background: #f0f0f0;
		padding: 17px 16px;  
		margin: 0 auto 6px; 
		letter-spacing: 1px; 
		font-size: 15px; 
	}

	textarea {
		height: 170px; 
	}

	input[type="submit"] {
		width: 70%; 
		max-width: 400px; 
		color: white;
		background-color: $primary-color;  
		font-size: 18px; 
		padding: 11px 0;
		border: none;
		margin: 15px auto; 
		
		&:hover {
			background-color: coral;
		}
	}
}

footer {
	background-color: $primary-color;
	color: white;
	margin-bottom: 95px; 
	padding: 20px 0;
	font-size: 16px; 
	word-spacing: 2px;  
	
	a:hover {
		text-decoration: underline;
	}
}

@import "tablet";
@import "home";