@import "variables";
@import "base";
@import "header";

#home {
    position: relative;
	padding: 145px 0 101px; 
	color: white;
	
	.slider {
        .slider-item {
			display: none; /* Все слайды скрыты */
			transition: opacity 500ms linear;
			
			&:first-child {
				display: block; 
			}
		}
		
		img {
			z-index: -2;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;    
		}

		button {
			position: absolute;
			font-size: 88px;
			border: none;
			background: none; 
			color: $primary-color;
			top: 40%;
			
			&.prev {
				left: 1.5%; 
			}

			&.next {
				right: 1.5%; 
			}
		}
	}
	
	p {
		font-weight: 500;
		font-size: 18px;
		background-color: rgba(0, 0, 0, 0.6);
		display: table;
	    margin: 0 auto 14px;
	    padding: 6px 45px;
		
		&:last-child { 
			padding: 6px 30px; 
		}
	}
}

#about {
	header {
		overflow: hidden;
		padding: 25px 0; 
		color: white;
		background-color: $primary-color;
		font-size: 12px;
		
		a {
			text-transform: uppercase;
			font-size: 18px;
			text-decoration: underline; 
		}  
	}

	.content {
		border-bottom: $border; 
		padding: 23px 0 31px; 
		h1 {
			@extend %primary-h1;
			border-bottom: 2px solid $primary-color;
			margin-bottom: 17px; 
		}

		p {
			font-size: 17px; 
			line-height: 1.5; 
			color: $text-color;
			padding: 0 27px; 
		} 
	}
}

#services {
	border-bottom: $border; 
	padding: 50px 25px 22px; 
	overflow: hidden;
	
	.item-service {
		text-align: center;
		margin-bottom: 28px;
		float: left;
		padding: 0 15px; 
	}

	.fa {
		color: $primary-color;
		font-size: 30px; 
	}

	h2 {
		margin: 11px 0 13px;
		font-weight: 400; 
		font-size: 24px; 
		
		a:hover  {
			text-decoration: underline;	
		}
	}

	p {
		font-size: 16px;
		line-height: 18px;
		color: $text-color; 
		padding: 0 37px;    
	}
}

#portfolio {
	padding: 58px 0; 
	overflow: hidden;
	
	h1 {
		@extend %primary-h1;
		padding-bottom: 2px;
		margin-bottom: 12px;  
		border-bottom: 2px solid $primary-color;
		
		&+p {
			line-height: 24px;
			font-size: 16px;
			margin: 11px 0 58px;
			padding: 0 52px;
			color: $text-color;
		}
	}
	.wrap {
		background-color: lightgrey; 
		max-width: 250px;
		margin: 0 auto; 
	}
	.post-portfolio {
		margin-bottom: 60px; 
		a {
			display: block;
			color: #fe5c32;
			font-weight: 400;
			font-size: 22px;
		    margin: 5px 8px 0;
			border-bottom: 1px solid grey; 
			
			&:hover {
				color: white;
			}
		}

		span {
			padding: 6px 0 10px; 
			display: block;
			color: #737272;
			font-size: 16px; 
			word-spacing: 2px;
		}
	}
}

.talk {
	padding: 60px 0; 
	background-color: #7a7a7a;
	color: white;
	
	h2 {
		font-size: 58px;
		margin: 24px 0 12px;
		span {
			color: $primary-color;
		} 
	} 

	p {
		font-size: 22px;
		line-height: 25px;
		padding: 33px 22px 21px;   
	}
}

.contact {
	padding: 38px 0 140px; 
	
	h1 {
		position: relative;
		font-weight: 400;
		font-size: 44px; 
		display: inline-block; 
		padding-bottom: 6px; 
		margin: 24px 0 12px; 
		
		&:after {
			content: '';
			width: 100%;
			height: 2px;
			position: absolute;
			background-color: $primary-color;
			bottom: 0;
			left: 0; 
		}

		&+p {
			color: $text-color;
		    font-size: 22px;
		    word-spacing: 2px;
		    line-height: 25px;
		    padding: 46px 11px 114px;
		}
	}

	.map {
		text-align: center;
		padding: 0;
		
		img {
			height: 100%; 
		}
	}

	h3 {
		margin: 72px 0 0;
		position: relative;
		font-weight: 400;
		font-size: 44px; 
		display: inline-block; 
		padding-bottom: 12px;  
		
		&:after {
			content: '';
			width: 70%;
			height: 2px;
			position: absolute;
			background-color: $primary-color;
			bottom: 0;
			left: 15%; 
		}
	}

	.details {
		padding-top: 85px; 
		max-width: 375px;
		margin: 0 auto;  
		 li {
			display: block;
			text-align: left;
			font-size: 30px;
			color: #9d9c9c;
			padding-bottom: 41px;
			
			&:last-child {
				padding-bottom: 25px; 
			}   
		}

		.fa:before {
			padding-right: 34px;
			color:  $primary-color;
		}
	}
	
	form {
		padding: 0 15px; 
	}
	input, textarea {
		width: 98%; 
		max-width: 530px;
		-webkit-border-radius: 3px; 
		border-radius: 3px; 
		border: 1px solid lightgrey;
		background: #f0f0f0;
		padding: 17px 16px;  
		margin: 0 auto 6px; 
		letter-spacing: 1px; 
		font-size: 15px; 
	}

	textarea {
		height: 170px; 
	}

	button[type="submit"] {
		width: 70%; 
		max-width: 400px; 
		color: white;
		background-color: $primary-color;  
		font-size: 18px; 
		padding: 11px 0;
		margin: 15px auto; 
		border: 1px solid transparent;
		-webkit-border-radius: 2px; 
		 border-radius: 2px;  
		
		&:hover {
			background-color: coral;
		}
	}
}

footer {
	background-color: $primary-color;
	color: white;
	margin-bottom: 95px; 
	padding: 20px 0;
	font-size: 16px; 
	word-spacing: 2px;  
	
	a:hover {
		text-decoration: underline;
	}
}

@import "tablet";
@import "home";