@media screen and (min-width: 785px) {

	

	#home {
		padding: 209px 0 146px; 
		 p {
		 	font-size: 25px;
    		font-weight: 500;
    		padding: 12px 64px; 
    		margin-bottom: 18px; 
    		
    		&:last-child {
    			padding: 12px 52px; 
    		}
		 } 
	}

	#about {
		header {
			font-size: 20px;
			padding: 39px 0; 
			a {
				font-size: 22px; 
			}  
		}

		.content {
			border-bottom: none; 
			h1 {
				font-size: 30px;
    			margin: 24px 0 34px;
			}

			p {
				max-width: 600px;
				word-spacing: 2px; 
				font-size: 16px;
				margin: 0 auto;
				line-height: 25px; 
			}
		}
	}


	#services {
		padding: 14px 15px 3px;; 
		border-bottom: none;
		
		.item-service {
		    margin-bottom: 60px;
		    width: 50%; 
		} 

		h2 {
		    font-size: 18px;
		    font-weight: 400;
		    margin: 13px 0 17px; 
		}

		p {
		    font-size: 11px;
		    line-height: 18px;
		    margin: 0 auto;
		    text-align: left;
		    max-width: 290px;
		}
	}

	#portfolio {
		padding: 0;
		
		h1 {
		    font-size: 30px;
		    margin: 10px 0px 15px;
		    padding-bottom: 5px;
		    
		    &+p {
				font-size: 16px;
			    line-height: 25px;
			    margin: 0 auto 40px;
			    word-spacing: 1px;
			}
		}

		.list-portfolio {
			padding: 0 35px;
		}

		.post-portfolio {
			margin-bottom: 53px;
			float: left;
			width: 50%; 
			a {
			    font-size: 14px; 
			    margin-top: 8px;
    			padding-bottom: 4px;
			}

			span {
				font-size: 11px;
				padding: 10px;
    			display: block; 
    		}
		}	
	}

	.talk {
    	margin-top: 52px;
    	padding-bottom: 40px; 
    	
    	p {
		    font-size: $font-paragraph-medium;
		    line-height: 25px;
		    padding: 24px 100px;
		}
    }

    .contact {
    	padding: 57px 0 114px; 
    	
    	h1 {
    		font-size: 30px;
    		margin: 20px 0 9px;
    		padding-bottom: 10px;
    		 
    		&+p {
    			font-size: $font-paragraph-medium;
			    line-height: 1.7;
			    padding: 20px 60px 27px;
			    word-spacing: 3px;
    		}
    	}

    	h3 {
    		margin-top: 80px;
    		font-size: 30px;  
    	}
		
    	.details {
    		padding-top: 35px; 
    		max-width: 100%;
    		overflow: hidden;
    		
    		li {
    			width: 33.333333%;
    			font-size: 18px;
    			display: inline-block; 
    			text-align: center; 
    			padding-bottom: 34px; 
    		}
    	}

    	input, textarea {
    		margin-bottom: 7px;
    	}

    	button[type="submit"] {
    		margin: 16px auto;
    	}
    }

    footer {
    	padding: 20px 0;
    	font-size: $font-paragraph-medium;
    }
}